.custom-textarea {
  border: 1px solid #83e8f7;
  box-shadow: 0 0 5px 3px #79b39c; /* Efecto de brillo alrededor */
  transition: border-color 0.5s, box-shadow 0.5s;
}

.custom-textarea:hover {
  border-color: #b9ffc4;
  box-shadow: none;
  outline: none;
}

h4{
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-size: 27px;
    line-height: 0;
}

.tabla-futurista-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 80vh;
  }
  
  .tabla-futurista {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      0 0 15px rgba(0, 255, 255, 0.2),
      0 0 25px rgba(255, 255, 255, 0.1);
  }
  
  .tabla-futurista th,
  .tabla-futurista td {
    padding: 15px;
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .tabla-futurista th {
    background-color: rgba(0, 255, 255, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid rgba(0, 255, 255, 0.3);
  }
  
  .tabla-futurista tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  